.content-secret-hero {
	position: relative;
	padding: 0 35px;
	&__wrap {
		padding: 30px 30px 20px 20px;
		background: url("../img/page-secret-hero/image-bg-content.png") no-repeat center / cover;
	}

	&__group {
		padding: 10px 20px 15px 25px;
		background: url("../img/page-secret-hero/image-bg-content-2.png") no-repeat center / cover;
	}

	&__title {
		font-family: "FuturaBookC";
		font-size: 30px;
		line-height: 120%;
		font-weight: 600;
		color: #2e2e2e;
		margin-bottom: 20px;
	}

	&__row {
		display: grid;
		grid-template-columns: 0.6fr 1fr;
		gap: 25px;
	}

	&__column {
	}

	&__avatar {
		width: 206px;
		height: 202px;
		margin: 0 auto;
		background: url("../img/page-secret-hero/image-avatar-bg-hero.png") no-repeat center / contain;
		filter: drop-shadow(-10px -10px 20px rgba(0, 0, 0, 0.5));
	}

	&__avatar-image {
		background: url("../img/page-secret-hero/image-avatar-bg-hero-2.png") no-repeat center/cover;
		transform: rotate(2deg);
		position: absolute;
		top: 8%;
		left: 12%;
		bottom: 15%;
		right: 12%;
	}

	&__list-option {
		margin-bottom: 20px;
	}

	&__item-option {
		font-family: "FuturaBookC";
		font-size: 18px;
		line-height: 120%;
		font-weight: 600;
		color: #2e2e2e;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__wrap-input {
		& textarea {
			min-height: 130px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 20px;
		row-gap: 10px;
		align-items: start;
	}

	&__item {
	}
}

.item-hero {
	position: relative;
	padding-top: calc(100% - 10px);
	border: 5px solid #fff;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
	background: url("../img/page-secret-hero/image-small-bg-hero.png") no-repeat center / cover;
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&.--disabled {
		opacity: 0.5;
	}

	&.--green {
		border-color: #239333;
	}

	&.--red {
		border-color: #9a2424;
	}
}

@media (max-width: 1000px) {
	.content-secret-hero {
		&__wrap {
			padding: 25px 25px 20px 20px;
		}

		&__row {
			gap: 15px;
		}

		&__title {
			font-size: 22px;
		}

		&__list {
			column-gap: 15px;
			grid-template-columns: repeat(4, 1fr);
		}

		&__avatar {
			width: 150px;
			height: 150px;
		}

		&__item-option {
			font-size: 14px;
		}
	}

	.item-hero {
		border-width: 2px;
	}
}

@media (max-width: 767px) {
	.content-secret-hero {
		&__row {
			grid-template-columns: 1fr;
		}
	}
}

@media (max-width: 500px) {
	.content-secret-hero {
		padding: 0 15px;

		&__wrap {
			padding: 13px 9px;
		}

		&__avatar {
			margin-bottom: 15px;
		}

		&__title {
			font-size: 20px;
			& span {
				display: block;
				&:first-child {
					margin-bottom: 10px;
				}
			}
		}

		&__wrap-input {
			& textarea {
				min-height: 80px;
			}
		}

		&__list {
			grid-template-columns: repeat(2, 1fr);
		}

		&__list-option {
			display: flex;
			flex-wrap: wrap;
		}

		&__item-option {
			margin-right: 10px;
			margin-bottom: 5px;
			flex: 0 1 calc(100% / 2 - 10px);
		}

		&__group {
			padding: 10px 15px 15px 15px;
		}
	}
}
