.page-competition {
	background: url("../img/page-voting/page-voiting-bg.png") no-repeat center / cover;
}

.content-competition {
	&.--step-2 {
		& .content-competition__block {
			display: none;
		}
	}

	&.--step-3 {
		& .content-competition__block {
			display: none;
		}
	}

	height: 100%;
	&__block {
		position: relative;
		height: 100%;

		&.--right {
			& .card-competition.--right {
				transform: translate(0, 25px);
			}

			& .content-competition__pointer {
				transform: rotate(20deg);
			}
		}

		&.--left {
			& .card-competition.--left {
				transform: translate(0, 25px);
			}

			& .content-competition__pointer {
				transform: rotate(-20deg);
			}
		}
	}

	&__postament {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding-bottom: 6px;
	}

	&__card {
	}

	&__pointer {
		position: absolute;
		bottom: 35px;
		left: 48.5%;
		transform-origin: center 90%;
		z-index: 2;
	}
}

.card-competition {
	position: absolute;
	top: 17%;
	transition: all 1s ease 0s;
	&__group {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translate(-25px, 1px) rotate(10deg);
		height: 100%;
		max-height: 417px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #361e64;
			opacity: 0;
			visibility: hidden;
		}
	}

	&__image {
		border: 10px solid transparent;
		border-image: url("../img/page-competition/competition-image-wrap-bg1.png");
		border-image-slice: 10;
		height: 100%;
	}

	&__button {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-10deg);
		max-width: 110px;
		width: 100%;
	}

	&.--left {
		left: 14%;
	}

	&.--right {
		right: 12%;
	}

	&:hover {
		& .card-competition__group {
			&::before {
				opacity: 0.7;
				visibility: visible;
			}
		}

		& .card-competition__button {
			opacity: 1;
			visibility: visible;
		}
	}
}

@media (max-width: 1000px) {
	.page-competition {
		min-height: initial;
	}

	.content-competition {
		&__postament {
			& img {
				max-width: 570px;
			}
		}

		&__block {
			max-width: 768px;
			margin: 0 auto;
		}

		&__pointer {
			width: 30px;
		}
	}

	.card-competition {
		max-width: 230px;
		&__group {
			max-height: 340px;
		}

		&.--left {
			left: 13%;
		}

		&.--right {
			right: 12%;
		}
	}
}

@media (max-width: 768px) {
	.content-competition {
		&__postament {
			& img {
				max-width: 420px;
			}
		}

		&__block {
			max-width: 460px;
			margin: 0 auto;
		}

		&__pointer {
			width: 20px;
			bottom: 25px;
		}
	}

	.card-competition {
		max-width: 170px;

		&__group {
			max-height: 248px;
			transform: translate(-25px, 11px) rotate(10deg);
		}

		&.--left {
			left: 4%;
		}

		&.--right {
			right: 3%;
		}
	}
}

@media (max-width: 500px) {
	.content-competition {
		&__postament {
			padding-bottom: 60px;
			& img {
				max-width: 275px;
			}
		}

		&__block {
			max-width: 315px;
			margin: 0 auto;
		}

		&__pointer {
			width: 15px;
			bottom: 74px;
		}

		&__block {
			&.--right {
				& .card-competition.--right {
					transform: translate(0, 15px);
				}
			}

			&.--left {
				& .card-competition.--left {
					transform: translate(0, 15px);
				}
			}
		}
	}

	.card-competition {
		max-width: 106px;

		&__image {
			border-width: 7px;
			border-image-slice: 9;
		}

		&__group {
			max-height: 155px;
			transform: translate(-8px, 2px) rotate(10deg);
		}

		&__button {
			max-width: 75px;
		}

		&.--left {
			left: 8%;
		}

		&.--right {
			right: 6%;
		}
	}
}

.competition-fav {
	position: relative;
	height: 100%;

	&::before {
		content: "";
		position: absolute;
		width: 90%;
		height: 90%;
		top: -3%;
		left: 50%;
		transform: translate(-50%, 0);
		background: url("../img/page-competition/diamond-bg.png") no-repeat center / contain;
	}

	&__name {
		position: relative;
		max-width: 585px;
		margin: 0 auto 55px auto;
		padding: 1rem 10px;
		font-family: "BodonicWeb";
		font-size: 30px;
		line-height: 120%;
		color: #fff;
		text-align: center;
		background: url("../img/page-competition/title-bg.png") no-repeat center / contain;
	}

	&__image {
		border: 10px solid transparent;
		border-image: url("../img/page-competition/competition-image-wrap-bg1.png");
		border-image-slice: 10;
		height: 100%;
		max-height: 461px;
		max-width: 309px;
		transform: rotate(8deg);
		margin: 0 auto;
		& img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__group {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 485px;
		margin: -60px auto 0 auto;
		padding: 10px;
		background: url("../img/page-competition/rating-bg.png") no-repeat center/cover;
	}

	&__rating {
		margin-right: 15px;
		padding: 0;
		background: none;
		z-index: 2;
		&::after {
			content: none;
		}
	}

	&__btn-assess {
		margin-right: 10px;
		max-width: 115px;
		width: 100%;
	}

	&__btn-on {
		font-family: "FuturaDemic";
		font-size: 15px;
		line-height: 120%;
		color: #fff;
		border: 2px solid rgba(255, 255, 255, 0.3);
		border-radius: 3px;
		padding: 9px 20px;
		transition: all 0.3s ease;
		&:hover {
			border-color: rgba(255, 255, 255, 1);
		}
	}
}

@media (max-width: 1000px) {	
	.competition-fav {
		padding: 20px 0 60px 0;

		&__name {
			max-width: 500px;
			font-size: 24px;
			margin: 0 auto 20px auto;
		}

		&__image {
			max-height: 400px;
			max-width: 250px;
		}
	}
}

@media (max-width: 550px) {
	.competition-fav {
		padding: 0px 0 60px 0;

		&__group {
			flex-wrap: wrap;
			max-width: 300px;
		}
		
		&__rating {
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}

		&__name {
			max-width: 300px;
			font-size: 16px;
		}

		&__btn-on {
			font-size: 12px;
			padding: 6px 6px;
		}

		&__image {
			max-height: 350px;
			max-width: 240px;
		}
	}
}


.competition-end {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(54, 30, 100, 0.7);
	z-index: 3;
	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 230px;
		width: 100%;
	}

	&__title {
		margin-bottom: 5px;
		font-family : 'FuturaDemic';
		font-size: 18px;
		line-height: 120%;
		text-align: center;
		color: #fff;
	}

	&__subtitle {
		margin-bottom: 35px;
		font-family : 'FuturaBookC';
		font-size: 18px;
		line-height: 120%;
		text-align: center;
		color: #fff;
	}

	&__group-btn {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 55px;
	}

	&__btn {
		width: 100%;
		&:first-child {
			margin-bottom: 10px;
		}
	}

	&__next {
		font-family : 'FuturaBookC';
		line-height: 120%;
		font-size: 18px;
		text-align: center;
		color: #cdacff;
		transition: all 0.3s ease;
		&:hover {
			color: #fff;
		}
	}
}

@media (max-width: 767px) {
	.competition-end {
		&__group-btn {
			margin-bottom: 30px;
		}
	}
}