.popup {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 15px;
	background: rgba(0, 0, 0, 0.3);
	z-index: 5;
	&__wrap {
		position: relative;
	}

	&__close {
		position: absolute;
		top: -20px;
		right: -20px;
		z-index: 5;
	}

	&.--rules {
		& .popup__wrap {
			position: relative;
			padding: 65px 55px 65px 55px;
			max-width: 615px;
			max-height: 615px;
			width: 100%;
			background: url("../img/page-anceta/image-bg-form.png") no-repeat center/cover;
			&::before {
				content: "";
				position: absolute;
				top: 15px;
				left: 15px;
				right: 15px;
				bottom: 15px;
				border: 75px solid transparent;
				border-image: url("../img/popup-result/border-image.svg");
				border-image-slice: 120;
				z-index: 6;
				pointer-events: none;
			}
		}
	}

	&.--type-two {
		& .popup__wrap {
			width: 100%;
			max-width: 490px;
		}

		& .popup__close {
			top: 12px;
			right: -4px;
		}

		background: url("../img/popup-type-two/popup-overlay.png") no-repeat center / cover;
	}

	&.--end-energy {
		& .popup-type-two__image {
			margin-bottom: -120px;
			margin-left: 45px;
			margin-top: -20px;
		}

		& .popup-type-two__btn {
			& span {
				position: relative;
				padding-left: 30px;
				&::before {
					content: "";
					position: absolute;
					top: -14px;
					left: -30px;
					width: 65px;
					height: 36px;
					background: url("../img/popup-type-two/diamond-mini.png") no-repeat center / contain;
				}
			}
		}
	}

	&.--end-diamond {
		& .popup__wrap {
			max-width: 540px;
		}

		& .popup-type-two__image {
			margin-top: 50px;
			margin-bottom: -100px;
		}

		& .popup-type-two__middle {
			&::before {
				top: -35%;
			}
		}
	}

	&.--congrat {
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background: url("../img/popup-type-two/firework.png") no-repeat center bottom / contain;
		}

		& .popup-type-two__middle {
			&::before {
				top: -22%;
				height: 110%;
			}
		}
	}

	&.--new-level {
		& .popup-type-two__image {
			margin-bottom: -80px;
		}

		& .popup-type-two__middle {
			&::before {
				top: -18%;
			}
		}
	}

	&.--photo {
		& .popup-type-two__image {
			margin-bottom: -120px;
			margin-top: 50px;
		}

		& .popup-type-two__middle {
			&::before {
				top: -25%;
				height: 120%;
			}
		}
	}

	&.--daily-bonus {
		& .popup__wrap {
			max-width: 600px;
			margin-bottom: 100px;
			width: 100%;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -41%);
				width: 123%;
				height: 119%;
				background: url("../img/page-daily-bonus/image-box-bonus.png") no-repeat center / contain;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.85;
			background: url("../img/page-daily-bonus/popup-bg.png") no-repeat center / cover;
		}
	}

	&.--less-user {
		padding-top: 100px;
		background: url("../img/page-secret-hero/image-bg-user-less.png") no-repeat center / cover;
		& .popup__wrap {
			position: relative;
			padding: 65px 55px 65px 55px;
			max-width: 615px;
			max-height: 615px;
			height: 100%;
			width: 100%;
			background: url("../img/page-anceta/image-bg-form.png") no-repeat center/cover;
			&::before {
				content: "";
				position: absolute;
				top: 15px;
				left: 15px;
				right: 15px;
				bottom: 15px;
				border: 75px solid transparent;
				border-image: url("../img/popup-result/border-image.svg");
				border-image-slice: 120;
				z-index: 6;
				pointer-events: none;
			}
		}
	}
}

.popup-rules {
	position: relative;
	overflow: hidden;

	& .mCSB_scrollTools.mCSB_1_scrollbar.mCS-my-theme {
		z-index: 6;
	}

	&::before {
		pointer-events: none;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100px;
		background: linear-gradient(to top, rgba(238, 230, 207, 1) 0%, rgba(238, 230, 207, 0.8) 50%, transparent 100%);
		z-index: 5;
	}
	&__title {
		position: relative;
		font-family: "Bold PlayFairDisplay";
		font-size: 25px;
		line-height: 120%;
		color: #555351;
		text-align: center;
		padding-bottom: 25px;
		margin-bottom: 10px;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: url("../img/page-anceta/image-line.svg") no-repeat center/cover;
		}
	}

	&__text {
		padding: 15px 0;
		max-height: 420px;
		& ul {
			margin-bottom: 35px;
			& li {
				font-family: "FuturaBookC";
				font-size: 18px;
				line-height: 120%;
				color: #463a1a;
				& > ul,
				& > ol {
					margin-top: 30px;
					padding-left: 20px;
				}
			}
			& > li {
				position: relative;
				padding-left: 15px;
				&::before {
					content: "";
					position: absolute;
					top: 8px;
					left: 0;
					width: 5px;
					height: 5px;
					background: #463a1a;
				}
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}

		& ol {
			margin-bottom: 35px;
			counter-increment: root;
			& li {
				font-family: "FuturaBookC";
				font-size: 18px;
				line-height: 120%;
				color: #463a1a;

				& > ul,
				& > ol {
					margin-top: 30px;
					padding-left: 20px;
				}
			}

			& > li {
				counter-increment: sub;
				&::before {
					content: counter(root) "." counter(sub) ". ";
				}
				&:not(:last-child) {
					margin-bottom: 35px;
				}
			}
		}
	}

	&__text-title {
		margin-bottom: 35px;
		font-family: "Bold PlayFairDisplay";
		font-size: 18px;
		font-style: italic;
		line-height: 120%;
		color: #463a1a;
	}
}

@media (max-width: 1000px) {
	.popup {
		&.--daily-bonus {
			& .popup__wrap {
				max-width: 430px;
				margin-bottom: 100px;
			}
		}
		
		&.--congrat {
			&::before {
				background: url("../img/popup-type-two/firework.png") no-repeat center bottom / cover;
			}
		}
	}

	.popup-rules {
		&__title {
			@include adaptiv-font(25, 21);
		}

		&__text-title {
			@include adaptiv-font(18, 12);
		}

		&__text {
			& ul {
				& li {
					@include adaptiv-font(18, 12);
				}
			}

			& ol {
				& li {
					@include adaptiv-font(18, 12);
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.popup {
		&__close {
			top: -12px;
			right: -12px;
		}

		&.--rules {
			& .popup__wrap {
				padding: 45px 35px;
				&::before {
					top: 10px;
					left: 10px;
					right: 10px;
					bottom: 10px;
					border: 50px solid transparent;
					border-image: url("../img/popup-result/border-image.svg");
					border-image-slice: 110;
				}
			}
		}

		&.--less-user {
			& .popup__wrap {
				padding: 45px 35px;
				&::before {
					top: 10px;
					left: 10px;
					right: 10px;
					bottom: 10px;
					border: 50px solid transparent;
					border-image: url("../img/popup-result/border-image.svg");
					border-image-slice: 110;
				}
			}
		}

		&.--daily-bonus {
			& .popup__wrap {
				max-width: 270px;
			}
		}
	}

	.popup-rules {
		&__text {
			& ul {
				margin-bottom: 15px;
				& li {
					& > ul,
					& > ol {
						margin-top: 15px;
					}
				}
			}

			& ol {
				margin-bottom: 15px;
				& li {
					& > ul,
					& > ol {
						margin-top: 15px;
					}
				}
				& > li {
					&:not(:last-child) {
						margin-bottom: 15px;
					}
				}
			}
		}

		&__text-title {
			margin-bottom: 20px;
		}
	}
}

.popup-type-two {
	&__title {
		position: relative;
		padding: 3.5% 20px;
		text-align: center;
		font-size: 25px;
		line-height: 120%;
		font-family: "Bold PlayFairDisplay";
		color: #fff;
		background: url("../img/popup-type-two/bg-title.png") no-repeat center / contain;
		z-index: 2;
	}

	&__image {
		position: relative;
		text-align: center;
		z-index: 4;
	}

	&__middle {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: -5%;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("../img/popup-type-two/popup-type-two-bg-diamond.png") no-repeat center / contain;
		}
	}

	&__middle-wrap {
		position: relative;
		z-index: 2;
	}

	&__bottom {
		position: relative;
		display: flex;
		justify-content: center;
		max-width: 310px;
		margin: 0 auto;
		padding: 46px 0 15px 0;
		background: url("../img/popup-type-two/plank.png") no-repeat center / contain;
		z-index: 3;
	}

	&__table-top {
		position: relative;
		text-align: center;
		margin-bottom: -37px;
		z-index: 2;
	}

	&__group-btn {
		position: relative;
		flex-basis: 190px;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			width: 43px;
			height: 30px;
			background: url("../img/popup-type-two/btn-bg-line.png") no-repeat center / contain;
		}

		&::before {
			left: -5px;
		}

		&::after {
			right: -5px;
		}
	}

	&__btn {
		z-index: 4;
		width: 100%;
		max-width: 190px;
	}

	&__text-bottom {
		max-width: 270px;
		padding: 50px 0 30px 0;
		margin: 0 auto -45px auto;
		font-family: "FuturaBookC";
		font-size: 18px;
		line-height: 120%;
		color: #fff;
		text-align: center;
		background: url("../img/popup-type-two/text-bg-black.png") no-repeat center / cover;
	}

	&__name {
		margin-top: 40px;
		font-family: "FuturaDemic";
		font-size: 25px;
		line-height: 120%;
		text-align: center;
		color: #fff;
	}

	&__sign {
		margin-top: 20px;
		font-family: "FuturaBookC";
		font-size: 18px;
		line-height: 140%;
		text-align: center;
		color: #fff;
	}

	&__text-border {
		padding: 7% 17%;
		margin: 20px 0;
		font-family: "FuturaBookC";
		font-size: 18px;
		line-height: 140%;
		text-align: center;
		color: #fff;
		background: url("../img/popup-type-two/text-border-bg.png") no-repeat center / contain;
	}

	&__slider {
		padding: 3% 14%;
		margin-bottom: 20px;
		margin-top: 30px;
		display: flex;
		align-items: center;
		background: url("../img/popup-type-two/slider-bg.png") no-repeat center / contain;
	}

	&__slider-sign {
		margin-right: 40px;
		flex-shrink: 0;
		font-family: "FuturaDemic";
		font-size: 18px;
		line-height: 120%;
		color: #fff;
	}

	&__slider-container {
	}

	&__slider-wrap {
		position: relative;
		max-width: 175px;
		padding: 14px 40px;
		border: 2px solid #d2b04a;
		border-radius: 2px;
	}

	&__slider-next {
		position: absolute;
		top: 50%;
		right: -18px;
		transform: translate(0, -50%);
	}

	&__slider-prev {
		position: absolute;
		top: 50%;
		left: -18px;
		transform: translate(0, -50%);
	}
}

@media (max-width: 1000px) {
	.popup {
		&.--type-two {
			& .popup__wrap {
				max-width: 390px;
			}

			& .popup__close {
				top: 6px;
			}
		}

		&.--end-energy {
			& .popup-type-two__image {
				margin-top: -10px;
				margin-bottom: -80px;
				& img {
					max-height: 280px;
				}
			}
		}

		&.--end-diamond {
			& .popup-type-two__image {
				& img {
					max-height: 250px;
				}
			}
		}

		&.--new-level {
			& .popup-type-two__image {
				& img {
					max-height: 110px;
				}
			}
		}

		&.--photo {
			& .popup-type-two__image {
				margin-bottom: -70px;
				margin-top: 26px;
			}
		}
	}

	.popup-type-two {
		&__title {
			font-size: 18px;
		}

		&__text-bottom {
			font-size: 14px;
		}

		&__name {
			font-size: 22px;
		}

		&__text-border {
			font-size: 16px;
		}

		&__sign {
			font-size: 16px;
		}

		&__slider-sign {
			font-size: 16px;
		}

		&__slider-wrap {
			max-width: 120px;
			padding: 6px 20px;
		}
	}
}

@media (max-width: 768px) {
	.popup {
		&.--type-two {
			& .popup__wrap {
				max-width: 310px;
			}

			& .popup__close {
				right: -1px;
			}
		}

		&.--end-energy {
			& .popup-type-two__btn {
				& span {
					padding-left: 15px;
					&::before {
						top: -9px;
						left: -20px;
						width: 40px;
						height: 25px;
					}
				}
			}

			& .popup-type-two__image {
				& img {
					max-height: 230px;
				}
			}
		}

		&.--end-diamond {
			& .popup-type-two__image {
				margin-bottom: -70px;
				& img {
					max-height: 180px;
				}
			}
		}

		&.--new-level {
			& .popup-type-two__image {
				margin-bottom: -50px;
				& img {
					max-height: 90px;
				}
			}
		}
	}

	.popup-type-two {
		&__title {
			font-size: 13px;
		}

		&__table-top {
			max-width: 220px;
			margin: 0 auto -30px auto;
		}

		&__image {
			max-width: 220px;
			margin: 0 auto;
		}

		&__text-bottom {
			padding: 39px 0 30px 0;
			font-size: 12px;
			max-width: 220px;
			margin: 0 auto -45px auto;
		}

		&__name {
			margin-top: 20px;
			font-size: 16px;
		}

		&__text-border {
			font-size: 12px;
		}

		&__slider {
			margin-top: 15px;
		}

		&__sign {
			font-size: 12px;
		}

		&__slider-wrap {
			max-width: 90px;
			padding: 4px 15px;
		}

		&__slider-sign {
			margin-right: 20px;
			font-size: 12px;
		}

		&__bottom {
			padding: 31px 0 10px 0;
			max-width: 220px;
			margin: 0 auto;
		}

		&__group-btn {
			flex-basis: 150px;
		}

		&__btn {
			max-width: 150px;
		}

		&__middle-wrap {
		}
	}
}

.popup-less-user {
	&__title {
		position: relative;
		font-family: "Bold PlayFairDisplay";
		font-size: 25px;
		line-height: 120%;
		color: #555351;
		text-align: center;
		padding-bottom: 25px;
		margin-bottom: 10px;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: url("../img/page-anceta/image-line.svg") no-repeat center/cover;
		}
	}

	&__text {
		font-family: "FuturaBookC";
		padding: 15px 0;
		font-size: 18px;
		line-height: 120%;
		color: #463a1a;
	}

	&__group-button {
		margin-top: 10px;
		display: flex;
		align-items: center;
	}

	&__button {
		flex-basis: 50%;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

@media (max-width: 767px) {
	.popup-less-user {
		&__title {
			font-size: 22px;
			padding-bottom: 15px;
		}

		&__text {
			font-size: 14px;
			padding: 10px 0;
		}
	}
}

@media (max-width: 600px) {
	.popup {
		&.--less-user {
			padding-top: 180px;
		}
	}
}

@media (max-width: 500px) {
	.popup-less-user {
		&__group-button {
			flex-direction: column;
		}

		&__button {
			flex-basis: initial;
			width: 100%;
			&:not(:last-child) {
				margin-right: 0px;
				margin-bottom: 10px;
			}
		}
	}
}
