.content-secret-hero {
	position: relative;
	padding: 0 35px;
	&__wrap {
		padding: 30px 30px 20px 20px;
		background: url("../img/page-secret-hero/image-bg-content.png") no-repeat center / cover;
	}

	&__group {
		position: relative;
		min-height: 530px;
		padding: 10px 20px 15px 25px;
		background: url("../img/page-secret-hero/image-bg-content-2.png") no-repeat center / cover;
		z-index: 2;
	}

	&__title {
		font-family: "FuturaBookC";
		font-size: 30px;
		line-height: 120%;
		font-weight: 600;
		color: #2e2e2e;
		margin-bottom: 20px;
		& span {
			&.--purple {
				color: #4a3f7e;
			}
		}
	}

	&__row {
		display: grid;
		grid-template-columns: 0.6fr 1fr;
		gap: 25px;
	}

	&__column {
	}

	&__avatar {
		position: relative;
		width: 206px;
		height: 202px;
		margin: 0 auto;
		background: url("../img/page-secret-hero/image-avatar-bg-hero.png") no-repeat center / contain;
		filter: drop-shadow(-10px -10px 20px rgba(0, 0, 0, 0.5));
	}

	&__avatar-image {
		background: url("../img/page-secret-hero/image-avatar-bg-hero-2.png") no-repeat center/cover;
		transform: rotate(2deg);
		position: absolute;
		top: 8%;
		left: 12%;
		bottom: 15%;
		right: 12%;
	}

	&__list-option {
		margin-bottom: 20px;
	}

	&__item-option {
		font-family: "FuturaBookC";
		font-size: 18px;
		line-height: 120%;
		font-weight: 600;
		color: #2e2e2e;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__wrap-input {
		& textarea {
			min-height: 130px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 20px;
		row-gap: 10px;
		align-items: start;
	}

	&__item {
	}

	&__group-link {
		display: flex;
		margin-top: -40px;
	}

	&__link {
		position: relative;
		display: inline-block;
		padding: 10px 30px 10px 15px;
		font-family: "FuturaDemic";
		font-size: 15px;
		line-height: 120%;
		color: #fff;
		transition: all 0.3s ease;

		& span {
			position: relative;
			z-index: 2;
		}

		&.active {
			&::before {
				background: url("../img/popup-collection/user-info-link-bg-active.png") no-repeat center / cover;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: -7px;
			background: url("../img/popup-collection/user-info-link-bg.png") no-repeat center / cover;
			z-index: 1;
		}

		&:not(:last-child) {
			margin-right: 5px;
		}

		&:hover {
			transform: translate(0, -7px);
		}
	}
}

.item-hero {
	&__wrap {
		position: relative;
		padding-top: calc(100% - 10px);
		border: 5px solid #fff;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
		background: url("../img/page-secret-hero/image-small-bg-hero.png") no-repeat center / cover;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		margin-top: 3px;
		font-family: "FuturaBookC";
		text-align: center;
		font-size: 18px;
		line-height: 120%;
		color: #2e2e2e;
		word-break: break-all;
	}

	&__diamond {
		opacity: 0;
		visibility: hidden;

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(59, 23, 117, 0.55);
		display: flex;
		align-items: center;
		justify-content: center;

		transition: all 0.3s ease;
	}

	&__diamond-value {
		position: relative;
		padding-left: 22px;
		font-family: "FuturaBookC";
		font-size: 15px;
		line-height: 120%;
		color: #fff;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			width: 18px;
			height: 18px;
			background: url("../img/page-secret-hero/icon-diamond.png") no-repeat center / contain;
		}
	}

	&:hover {
		& .item-hero__diamond {
			opacity: 1;
			visibility: visible;
		}
	}

	&.--disabled {
		opacity: 0.5;
	}

	&.--green {
		& .item-hero__wrap {
			border-color: #239333;
		}
	}

	&.--red {
		& .item-hero__wrap {
			border-color: #9a2424;
		}
	}
}

@media (max-width: 1000px) {
	.content-secret-hero {
		&__wrap {
			padding: 25px 25px 20px 20px;
		}

		&__group {
			min-height: 400px;
		}

		&__row {
			gap: 15px;
		}

		&__title {
			font-size: 22px;
		}

		&__list {
			column-gap: 15px;
			grid-template-columns: repeat(4, 1fr);
		}

		&__avatar {
			width: 150px;
			height: 150px;
		}

		&__item-option {
			font-size: 14px;
		}

		&__group-link {
			margin-top: -30px;
		}

		&__link {
			padding: 5px 20px 5px 10px;
			font-size: 12px;
		}
	}

	.item-hero {
		&__wrap {
			border-width: 2px;
		}

		&__name {
			font-size: 14px;
		}
	}
}

@media (max-width: 767px) {
	.content-secret-hero {
		&__row {
			grid-template-columns: 1fr;
		}

		&__group {
			min-height: initial;
		}
	}
}

@media (max-width: 500px) {
	.content-secret-hero {
		padding: 0 15px;

		&__wrap {
			padding: 13px 9px;
		}

		&__avatar {
			margin-bottom: 15px;
		}

		&__title {
			font-size: 20px;
			& span {
				display: block;
				&:first-child {
					margin-bottom: 10px;
				}
			}
		}

		&__wrap-input {
			& textarea {
				min-height: 80px;
			}
		}

		&__list {
			grid-template-columns: repeat(2, 1fr);
		}

		&__list-option {
			display: flex;
			flex-wrap: wrap;
		}

		&__item-option {
			margin-right: 10px;
			margin-bottom: 5px;
			flex: 0 1 calc(100% / 2 - 10px);
		}

		&__group {
			padding: 10px 15px 15px 15px;
		}
	}
}

.page-secret-hero {
	&.--stage-five {
		& .content-secret-hero {
			&__title {
				text-align: center;
				& span {
					&:last-child {
						color: #4a3f7e;
					}
				}
			}
		}
	}
}

.delete-secret {
	&__list {
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__selection {
		margin-top: 60px;
		display: flex;
		justify-content: center;
	}

	&__selection-button {
		flex-basis: 230px;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.card-delete-secret {
	&__row {
		display: grid;
		grid-template-columns: 125px 0.9fr 1fr;
		align-items: center;
		gap: 20px;
	}

	&__column {
	}

	&__button {
		max-width: 125px;
		width: 100%;
	}

	&__field {
		min-height: 120px;
		width: 100%;
		height: 100%;
		padding: 12px 13px;
		font-family: "FuturaBookC";
		font-size: 18px;
		line-height: 120%;
		color: #463a1a;

		border: 2px solid transparent;
		border-radius: 6px;
		border-image: linear-gradient(to top, #ecd28c 0%, #9f780f 30%, #eabf28 52%, #ffe6a3 76%, #f0d58e 85%);
		border-image-slice: 2;
		background: linear-gradient(to top, rgba(224, 210, 172, 0.3) 0%, rgba(192, 170, 110, 0.3) 100%);
		box-shadow: inset 0px 2px 4px rgba(60%, 47%, 5%, 0.6);

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__group {
		display: grid;
		grid-template-columns: 90px 1fr;
		align-items: center;
		gap: 20px;
	}

	&__item {
	}

	&__list-option {
	}

	&__item-option {
		font-family: "FuturaBookC";
		font-size: 18px;
		line-height: 120%;
		color: #2e2e2e;
		&:not(:last-child) {
			margin-bottom: 3px;
		}
	}
}

@media (max-width: 1000px) {
	.delete-secret {
		&__selection {
			margin-top: 45px;
		}
	}

	.card-delete-secret {
		&__row {
			grid-template-columns: 90px 0.8fr 1fr;
			gap: 15px;
		}

		&__field {
			padding: 10px;
			font-size: 14px;
			min-height: 95px;
		}

		&__item-option {
			font-size: 14px;
		}

		&__group {
			grid-template-columns: 70px 1fr;
			gap: 15px;
		}
	}
}

@media (max-width: 768px) {
	.delete-secret {
		&__selection {
			margin-top: 30px;
		}
	}

	.card-delete-secret {
		&__row {
			grid-template-columns: 1fr;
		}

		&__button {
			max-width: 100%;
		}
	}
}

@media (max-width: 500px) {
	.delete-secret {
		&__selection {
			flex-direction: column;
		}

		&__selection-button {
			flex-basis: initial;
			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
	}
}

.page-secret-hero {
	&.--stage-six {
		& .card-delete-secret {
			&__field {
				min-height: 100px;
			}

			&__row {
				grid-template-columns: 0.95fr 1fr 90px;
			}

			&__column {
				&:nth-child(1) {
					order: 3;
				}

				&:nth-child(2) {
					order: 2;
				}

				&:nth-child(3) {
					order: 1;
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.page-secret-hero {
		&.--stage-six {
			& .card-delete-secret {
				&__field {
					min-height: 70px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.page-secret-hero {
		&.--stage-six {
			& .content-secret-hero__title {
				text-align: center;
			}

			& .card-delete-secret {
				&__row {
					grid-template-columns: 1fr;
				}
			}
		}
	}
}

.page-secret-hero {
	&.--stage-seven {
		& .content-secret-hero {
			&__title {
				text-align: center;
			}
		}
	}
}

.couple-secret {
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 60px;
	}

	&__column {
		&:first-child {
			& .card-couple-secret {
				&__wrap {
					align-self: flex-end;
				}
			}
		}
	}

	&__card {
	}
}

.card-couple-secret {
	display: flex;
	flex-direction: column;
	&__avatar {
		position: relative;
		width: 206px;
		height: 202px;
		background: url("../img/page-secret-hero/image-avatar-bg-hero.png") no-repeat center / contain;
		filter: drop-shadow(-10px -10px 20px rgba(0, 0, 0, 0.5));
	}

	&__avatar-image {
		background: url("../img/page-secret-hero/image-avatar-bg-hero-2.png") no-repeat center/cover;
		transform: rotate(2deg);
		position: absolute;
		top: 8%;
		left: 12%;
		bottom: 15%;
		right: 12%;
	}

	&__list-option {
		margin-bottom: 10px;
	}

	&__item-option {
		font-family: "FuturaBookC";
		font-size: 18px;
		line-height: 120%;
		color: #2e2e2e;
		&:not(:last-child) {
			margin-bottom: 3px;
		}
	}

	&__group {
		display: flex;
		flex-direction: column;
	}

	&__button {
		max-width: 240px;
		width: 100%;
		margin-bottom: 15px;
	}

	&__info {
		text-align: center;
		min-height: 120px;
		padding: 20px 5px;
		font-family: "FuturaBookC";
		font-size: 14px;
		line-height: 120%;
		color: rgba(255, 255, 255, 0.7);
		border-radius: 5px;
		box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
		background: rgba(97, 52, 166, 0.4);
	}
}

@media (max-width: 1000px) {
	.couple-secret {
		&__row {
			gap: 35px;
		}
	}

	.card-couple-secret {
		&__avatar {
			width: 150px;
			height: 150px;
		}

		&__item-option {
			font-size: 14px;
		}

		&__info {
			padding: 10px 5px;
			min-height: 100px;
			font-size: 11px;
		}
	}
}

@media (max-width: 600px) {
	.couple-secret {
		&__row {
			grid-template-columns: 1fr;
		}

		&__column {
			&:first-child {
				& .card-couple-secret__wrap {
					align-self: initial;
				}
			}
		}
	}

	.card-couple-secret {
		&__button {
			max-width: 100%;
		}
	}
}

.page-secret-hero {
	&.--stage-seven-final {
		& .content-secret-hero {
			&__title {
				text-align: center;
			}
		}

		& .card-delete-secret {
			&__field {
				min-height: 100px;
			}

			&__row {
				grid-template-columns: 0.95fr 1fr 90px;
			}

			&__column {
				&:nth-child(1) {
					order: 3;
				}

				&:nth-child(2) {
					order: 2;
				}

				&:nth-child(3) {
					order: 1;
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.page-secret-hero {
		&.--stage-seven-final {
			& .card-delete-secret {
				&__field {
					min-height: 70px;
				}

				&__row {
					grid-template-columns: 1fr 1fr 50px;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.page-secret-hero {
		&.--stage-seven-final {
			& .card-delete-secret {
				&__row {
					grid-template-columns: 1fr;
				}
			}
		}
	}
}

.user-avatar {
	position: relative;
	width: 206px;
	height: 202px;
	background: url("../img/page-secret-hero/image-avatar-bg-hero.png") no-repeat center / contain;
	filter: drop-shadow(-10px -10px 20px rgba(0, 0, 0, 0.5));

	&__image {
		background: url("../img/page-secret-hero/image-avatar-bg-hero-2.png") no-repeat center/cover;
		transform: rotate(2deg);
		position: absolute;
		top: 8%;
		left: 12%;
		bottom: 15%;
		right: 12%;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.user-list-option {
	&__item {
		font-family: "FuturaBookC";
		font-size: 18px;
		line-height: 120%;
		color: #2e2e2e;
		&:not(:last-child) {
			margin-bottom: 3px;
		}
	}
}

.secret-user-field {
	min-height: 120px;
	width: 100%;
	height: 100%;
	padding: 12px 13px;
	font-family: "FuturaBookC";
	font-size: 18px;
	line-height: 120%;
	color: #463a1a;

	border: 2px solid transparent;
	border-radius: 6px;
	border-image: linear-gradient(to top, #ecd28c 0%, #9f780f 30%, #eabf28 52%, #ffe6a3 76%, #f0d58e 85%);
	border-image-slice: 2;
	background: linear-gradient(to top, rgba(224, 210, 172, 0.3) 0%, rgba(192, 170, 110, 0.3) 100%);
	box-shadow: inset 0px 2px 4px rgba(60%, 47%, 5%, 0.6);

	&:not(:last-child) {
		margin-bottom: 15px;
	}
}

.secret-user-info {
	text-align: center;
	min-height: 120px;
	padding: 20px 5px;
	font-family: "FuturaBookC";
	font-size: 14px;
	line-height: 120%;
	color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
	background: rgba(97, 52, 166, 0.4);
}

@media (max-width: 1000px) {
	.user-avatar {
		width: 150px;
		height: 150px;
	}

	.user-list-option {
		&__item {
			font-size: 14px;
		}
	}

	.secret-user-info {
		padding: 10px 5px;
		min-height: 100px;
		font-size: 11px;
	}

	.secret-user-field {
		min-height: 90px;
		font-size: 14px;
	}
}

.page-secret-hero {
	&.--stage-recruit-users {
		& .content-secret-hero {
			&__title {
				text-align: center;
			}
		}
	}
}

.recruit-users {
	padding-right: 40px;
	&__row {
		display: grid;
		grid-template-columns: 0.6fr 1fr;
		gap: 30px;
	}

	&__column {
		&:first-child {
			& .recruit-users__name {
				text-align: center;
			}
		}
	}

	&__name {
		font-family: "Kobzar KS";
		font-size: 40px;
		line-height: 120%;
		color: #4a3f7e;
	}

	&__avatar {
		position: relative;
		width: 300px;
		height: 300px;
		background: url("../img/page-secret-hero/image-avatar-bg-hero-big.png") no-repeat center / contain;
		margin-bottom: 10px;
	}

	&__avatar-image {
	}

	&__list-option {
	}

	&__group-time {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 15px;
	}

	&__time {
		font-family: "FuturaDemic";
		margin-right: 30px;
		font-size: 24px;
		line-height: 120%;
		color: #2e2e2e;
	}

	&__button-time {
		max-width: 225px;
		width: 100%;
	}

	&__group {
	}

	&__field {
	}

	&__info {
	}

	&__title {
		text-align: center;
		font-family: "FuturaDemic";
		font-size: 30px;
		line-height: 120%;
		color: #4a3f7e;
		margin-bottom: 20px;
	}

	&__button-create {
		margin-top: 15px;
		max-width: 225px;
		width: 100%;
	}

	&__subtitle {
		font-family: "FuturaBookC";
		padding-left: 20px;
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 120%;
		color: #2e2e2e;
	}

	&__empty {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__empty-button {
		margin-top: 45px;
		max-width: 220px;
		width: 100%;
	}
}

@media (max-width: 1000px) {
	.recruit-users {
		&__avatar {
			width: 200px;
			height: 200px;
		}

		&__name {
			font-size: 30px;
		}

		&__time {
			margin-right: 25px;
			font-size: 20px;
		}

		&__title {
			font-size: 24px;
		}

		&__subtitle {
			font-size: 14px;
			padding-left: 10px;
		}

		&__button-create {
			max-width: 190px;
			margin-top: 5px;
		}

		&__empty-button {
			margin-top: 35px;
		}
	}
}

@media (max-width: 767px) {
	.recruit-users {
		padding-right: 0;
		&__row {
			grid-template-columns: 1fr;
			gap: 15px;
		}

		&__column {
			&:first-child {
				& .recruit-users__name {
					text-align: left;
				}
			}
		}

		&__group-time {
			justify-content: flex-start;
		}

		&__empty-button {
			margin-top: 25px;
		}
	}
}

.page-secret-hero {
	&.--stage-recruit-users-form {
		& .recruit-users {
			padding-right: 0;
			padding-top: 30px;

			&__column {
				&:nth-child(1) {
					display: flex;
					flex-direction: column;
					align-items: center;
				}

				&:nth-child(2) {
					padding-top: 10px;
				}
			}
		}
	}
}

.form-recruit-users {
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 30px;
		row-gap: 20px;
	}

	&__wrap-input {
		&.--w-100 {
			grid-column: span 2;
		}

		& textarea {
			min-height: 120px;
		}
	}

	&__button {
		margin-top: 20px;
		max-width: 225px;
		width: 100%;
	}
}

@media (max-width: 1000px) {
	.form-recruit-users {
		&__list {
			column-gap: 20px;
			row-gap: 10px;
		}
		&__wrap-input {
			& textarea {
				min-height: 90px;
			}
		}
	}
}

@media (max-width: 500px) {
	.page-secret-hero {
		&.--stage-recruit-users-form {
			& .recruit-users {
				padding-top: 20px;

				&__column {
					&:nth-child(2) {
						padding-top: 0px;
					}
				}
			}
		}
	}

	.form-recruit-users {
		&__list {
			grid-template-columns: 1fr;
		}

		&__wrap-input {
			&.--w-100 {
				grid-column: span 1;
			}
		}
	}
}

.page-secret-hero {
	&.--stage-recruit-eight {
		& .content-secret-hero {
			&__title {
				text-align: center;
			}
		}

		& .form-recruit-users {
			&__list {
				grid-template-columns: 1fr;
			}
		}
	}
}

.page-secret-hero {
	&.--stage-recruit-empty {
		& .content-secret-hero {
			&__title {
				text-align: center;
			}
		}

		& .secret-user-info {
			max-width: 670px;
			width: 100%;
			min-height: initial;
		}
	}
}

@media (max-width: 767px) {
	.page-secret-hero {
		&.--stage-recruit-empty {
			& .content-secret-hero__group {
				min-height: 300px;
			}
		}
	}
}
